<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dss.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".pages.home.OfficialAccountsActivity"></activity>
        <activity android:name=".pages.home.SquareActivity" />
        <activity android:name=".pages.home.ShareActivity" />
        <activity android:name=".pages.category.SystemArticleActivity" />
        <activity android:name=".pages.me.ShareListActivity" />
        <activity android:name=".pages.me.FavoriteActivity" />
        <activity android:name=".pages.me.RankingActivity" />
        <activity android:name=".pages.me.CreditActivity" />
        <activity
            android:name=".pages.me.EntryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".pages.me.DoubleDoubleActivity" />
        <activity android:name=".utils.MyWebView" />
        <activity android:name=".pages.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>